* {
    width: 100%;
}

header {
    height: 2rem;
    /* width: 100%; */
    position: fixed;
    left: 0;
    top: 0;
}

nav h1 {
    float: none;
    text-align: center;
}

nav ul,
nav ul li {
    float: none;
    text-align: center;
    padding: 3px;
}

nav li a {
    line-height: 1.2;
    padding: 5px;
}

.intro {
    padding-top: 50px;
    /* white-space: nowrap; */
}

.sub-intro {
    margin: 0 10px;
}

.span {
    width: 60%;
}

#about {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}