header {
    height: 2rem;
}

nav h1 {
    float: none;
    text-align: center;
}

nav ul,
nav ul li {
    float: none;
    text-align: center;
    padding: 3px;
}

nav li a {
    line-height: 1.2;
    padding: 5px;
}